header {
  display: initial;
    #topbar{
        height:45px;
        background-color: blue;
        background-color: $nero;
        color:$grigino;
        @include flex;
        justify-content: flex-end;
        padding-right: 50px;
        ul{
            @include flex;
            li{
                @include listStyle;
                margin-right: 8px;
                a{
                    color:$grigino;
                    @include sottolineatura;
                    i{
                        color: $primary;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    // Navbar
    .navbar-uno{
        height: 50px;
        background-color: $nero;
        color:$bianco;
        @include flex;
        .brand-img {
          margin: 0 25px;
        }
        ul {
            @include flex;
            li {
                @include listStyle;
                padding-right: 20px;
                a {
                    color:$bianco;
                    @include sottolineatura;
                }
            }
        }
    }

    .navbar-due{
        height:65px;
        background-color: $grigino;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 10;
        padding-left: 50px;
        ul li {
          list-style: none;
          display: inline-block;
          line-height: 65px;
          text-align: center;
          text-transform: uppercase;
          padding: 0 $padding10 * 2;
          &:hover {
            background-color: $bianco;
            cursor: pointer;
          }
        }
    }
}
