@mixin flex{
    display: flex;
    align-items: center;
}

@mixin sottolineatura{
    text-decoration: none;
}

@mixin listStyle{
    list-style: none;
}

@mixin noborder{
  border: none;
  outline: none;
}
