@mixin flex{
    display: flex;
    align-items: center;
}

@mixin sottolineatura{
    text-decoration: none;
}

@mixin listStyle{
    list-style: none;
}

@mixin myIcon($name){
  .icon-#{$name}{
    background-image: url("/icons/#{$name}.svg");
  }
}
